{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat esse fuga hic rerum aliquam veritatis mollitia repudiandae, accusamus alias consequuntur dolor quam error eaque dolore ipsum soluta minima. Facilis ipsam est nostrum eligendi aliquid officiis illum aperiam tenetur ab culpa voluptates odio nesciunt, tempora, voluptatibus adipisci perspiciatis, deleniti necessitatibus corporis in modi. Quidem assumenda nihil tempore recusandae qui nemo asperiores esse sequi architecto. Quia minus quis accusamus itaque harum possimus, cumque quae sapiente officia nam tempora. Labore suscipit unde impedit magnam rerum perferendis excepturi, libero, at non veritatis facilis reprehenderit eos animi eaque laboriosam autem fugiat possimus quia. Exercitationem, dignissimos.
        </p>

        <div class="text-center">
            <a class="btn btn-secondary" href="signin">
                Signin
            </a>
            <a class="btn btn-dark" href="signup">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}